$backgroundColor: #000000;
$cardColor: #ffffff;
$textColor: #000000;
$boxShadowColor: #d3d5d7;

.login-dialog {
    background-color: $cardColor;
    margin-top: 0px;
    box-shadow: none;
}

.login-dialog-title {
    color: $textColor;
}

.login-dialog-content {
    color: $textColor;
}

::ng-deep .login-custom>mat-dialog-container {
    background-color: $cardColor;
}

.login-actions {
    display: flex
}